---
---

<!-- NAV CORNERS -->
<a class="nav-corner nav-info" href="/info">Info</a>
<a class="nav-corner nav-tag" href="#" id="navTagBtn">Tag</a>
<a class="nav-corner nav-projects" href="#">Projects<span class="corner-line"></span></a>
<a class="nav-corner nav-img" href="/img">IMG<span class="corner-line"></span></a>

<!-- Tag dropdown -->
<div class="tag-dropdown" id="tagDropdown">
  <span class="tag-item" data-tag="art">Art</span>
  <span class="tag-item" data-tag="architecture">Architecture</span>
  <span class="tag-item" data-tag="design">Design</span>
  <span class="tag-item" data-tag="fashion">Fashion</span>
  <span class="tag-item" data-tag="film">Film</span>
  <span class="tag-item" data-tag="food">Food</span>
  <span class="tag-item" data-tag="home">Home & Interior</span>
  <span class="tag-item" data-tag="music">Music/Sound</span>
  <span class="tag-item" data-tag="photography">Photography</span>
  <span class="tag-item" data-tag="sport">Sport</span>
</div>

<!-- Logo -->
<a class="nav-logo" id="navLogo" href="/">The Bizness</a>